<!DOCTYPE html>
<html>
<head>
    <title>网络管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome-animation/0.0.7/font-awesome-animation.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>


<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/js/bootstrap.js"></script>
<script src="/javascripts/timeline.js"></script>
<script src="//cdn.bootcss.com/d3/3.5.12/d3.js"></script>
<script src="/javascripts/client.js"></script>
</body>
</html>
